body {
  font-family: "Press Start 2P", cursive;
  font-size: 0.5em;
  background-color: #111;
  color: #fff;
  margin: 0;
  padding: 0;
  line-height: 1.0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  background-color: #222;
  border-bottom: 4px solid #4fff4f; /* Bright, arcade-like color */
}

#header-content {
  display: flex;
  align-items: center;
}

#profile-pic {
  max-width: 100%;
  height: auto;
}

h1 {
  font-size: 1em;
  color: #4fff4f;
  margin-left: 20px;
}

h2,
h3 {
  color: #00ccff; /* Bright blue for a retro feel */
}

#navbar {
  background-color: #333;
  display: flex;
  justify-content: center;
  padding: 15px 0;
  border-bottom: 4px solid #4fff4f;
}

#navbar a {
  font-size: 0.8rem;
  color: #4fff4f;
  text-decoration: none;
  margin: 0 15px;
  transition: color 0.3s;
}

#navbar a:hover {
  color: #ffcc00; /* Neon yellow on hover */
}

section {
  margin: 20px;
  padding: 20px;
  background-color: #222;
  border: 2px dashed #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.section-divider {
  border: 0;
  height: 4px;
  background: linear-gradient(
    90deg,
    #00ccff 25%,
    #4fff4f 25%,
    #4fff4f 50%,
    #ffcc00 50%,
    #ffcc00 75%,
    #ff4f4f 75%
  );
  margin: 20px 0;
}

#language {
  background-color: #00ccff;
  color: #111;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  font-size: 0.5rem;
  position: relative;
  overflow: hidden;
}

#language:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #4fff4f;
  transition: width 2s ease;
}

#language.filled:before {
  width: 100%;
}

footer {
  background-color: #222;
  color: #fff;
  padding: 10px;
  text-align: center;
  border-top: 4px solid #4fff4f;
}

footer p a {
  color: #4fff4f;
  text-decoration: none;
}

footer p a:hover {
  color: #ffcc00;
}
